*{
    height: 100%;
}
.Container{
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}
.Container div{
    display: block;
    width: 15%;
    height: 15%;
    padding: 0.5%;
}
@media only screen and (min-device-width: 1920px) and (min-device-height: 1080px) {
    .flex-container div {
        padding: 0.4%;
        display: block;
        width: 16%;
        height: 16%;
    }
}

@media only screen and (max-device-width: 1280px) and (max-device-height: 1024px) {
    .flex-container div {
        padding: 0.6%;
        display: block;
        width: 10%;
        height: 10%;
    }
}